VanillaPG/snek-128h1-PG-first-take
.vscode
VanillaPG/128h1-sm
VanillaPG/128h1-sm-negative-rewards
VanillaPG/128h1-sm-negative-rewards-run2
VanillaPG/128h2
VanillaPG/128h4
VanillaPG/128h1-sm-run2
VanillaPG/__pycache__
VanillaPG/checkpoints
VanillaPG/128h-sm-cut40
VanillaPG/128h-sm-cut30
VanillaPG/conv-nolearn
VanillaPG/128h2-sm-cut40
VanillaPG/128h1-sm-cut40-long
gym_snake.egg-info/PKG-INFO
gym_snake.egg-info/SOURCES.txt
