VanillaPG/snek-128h1-PG-first-take
.vscode
VanillaPG/128h1-sm
VanillaPG/128h1-sm-negative-rewards
VanillaPG/__pycache__
VanillaPG/checkpoints
gym_snake.egg-info/PKG-INFO
gym_snake.egg-info/SOURCES.txt